@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;

}

.cabecalho {
    box-sizing: border-box;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: space-between;
}

.cabecalho__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30% 0 0;
}

.cabecalho__link {
    width: 180px;
    color: black;
    border: 2px solid #22D4FD;
    border-radius: 16px;
    background-color: #22D4FD;
    font-family: "Montserrat", serif;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    margin: 0 30px;
    padding: 21.5px 0;
}

.urgente {
    color: #22D4FD;
}

.texto-destaque {
    color: #22D4FD;
}

.titulo-blog {
    color: #22D4FD;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", serif;
    font-weight: 400;
}


.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.botao {
    width: 180px;
    color: black;
    border: 2px solid #22D4FD;
    border-radius: 16px;
    background-color: #22D4FD;
    font-family: "Montserrat", serif;
    font-size: 24px;
    text-align: center;
    padding: 21.5px 0;
    text-decoration: none;
    font-weight: 600;
}



.imagem-logo {
    width: 300px;
    height: 180px;
}

.imagem-foto {
    width: 300px;
    height: 500px;
}

.rodape {
    background-color: #111;
    width: auto;
    height: 100px;
    color: #22D4FD;
    margin: 0;
}